/**************************************************
* Personal Bookshelf // main.css
* coded by Anatol Marezhanyi aka e1r0nd//[CRG] - January 2016
* http://linkedin.com/in/merezhany/ e1r0nd.crg@gmail.com
* Placed in public domain.
**************************************************/

.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

body {
  padding: 0;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Make the masthead heading the same height as the navigation */

.header {
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.28);
  width: 100%;
  z-index: 100;
}

.nodisplay {
  display: none;
}

.cursor {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.dropdown-menu> li> .selected {
  font-weight: 600;
}


/* Custom page footer */

.footer {
  border-top: 1px solid #80CBC4;
  padding-top: 19px;
}

.container-narrow> hr {
  /* old */
  margin: 30px 0;
}

.container-body {
  margin-top: 90px;
}

.navbar {
  margin-bottom: 0;
  min-height: 54px;
}

.nav> li> a.nav-lnk {
  padding: 20px 10px 20px 10px;
}

.search-btn {
  color: #eee;
  color: rgba(255, 255, 255, .84);
}

.search-inp {
  color: #fff;
}

.search-group {
  margin-top: 8px;
}

body .container .well {
  padding: 19px 0;
}

.item-itm-view {
  margin: 0;
  position: relative;
}

.item-itm-view p {
  margin: 0;
}

.item-remove-btn {
  position: absolute;
  right: 5%;
  top: 15px;
}

.list-itm-elem {
  min-height: 68px;
  padding: 5px 85px 5px 71px;
}

.item-itm-view:hover {
  background: #E0F2F1;
}

.item-itm-tag {
  cursor: move;
  left: 24px;
  position: absolute;
  top: 22px;
}

.item-group,
.month-group {
  list-style: none;
}

.item-group {
  border-bottom: 1px solid #80CBC4;
}

.item-group:last-child {
  border-bottom: none;
}

.item-title {
  font-weight: bold;
}

.item-author {
  font-style: italic;
}

.item-mark-itm {
  padding-left: 10px;
  vertical-align: middle;
}

.item-date-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 7px 0;
}

.add-btn-wrapper {
  bottom: 10%;
  height: 56px;
  position: fixed;
  right: 10%;
  width: 56px;
}

.add-btn-wrapper:hover {
  height: 170px;
}

.add-btn {
  bottom: 0;
  border-radius: 50%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.14), 0 6px 6px rgba(0, 0, 0, 0.28);
  height: 56px;
  position: absolute;
  width: 56px;
}

.add-btn-i,
.add-btn-mini {
  display: block;
  height: 56px;
  position: relative;
  width: 56px;
}

.add-btn-mini {
  position: static;
}

.add-btn:hover .add-btn-i {
  transform: rotate3d(0, 0, 1, 135deg);
  transition: transform 0.4s;
}

.dtp .dtp-buttons {
  padding: 0 5px 20px 0;
}

.togglebutton-block {
  display: inline;
  margin-right: 140px;
}

.togglebutton-btn {
  margin: 0;
  padding: 8px 16px;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  .navbar-right {
    margin: 0;
  }
  .search-container {
    min-height: 64px;
    padding-top: 4px;
  }
  .navbar .navbar-nav> li> a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .btn-group-sm .btn-link-item,
  .btn-group-sm .btn-link-article {
    bottom: 72px;
    opacity: 0;
    position: absolute;
    right: 10px;
    transform: scale(0);
    transition: all 120ms ease-in;
  }
  .btn-group-sm .btn-link-article {
    bottom: 124px;
  }
  .add-btn-wrapper:hover .btn-link-item,
  .add-btn-wrapper:hover .btn-link-article {
    opacity: 1;
    transform: scale(1);
    transition: all 120ms ease-in;
  }
  .add-btn-wrapper:hover .btn-link-article {
    transition-delay: 50ms;
  }
  .btn.btn-fab.btn-info:hover {
    background-color: #03a9f4;
  }
  .btn.btn-fab.btn-success:hover {
    background-color: #4caf50;
  }
  .tooltip-link,
  .tooltip-link-item,
  .tooltip-link-article {
    top: 19px;
    right: 60px;
    width: 75px;
    display: none;
  }
  .add-btn:hover .tooltip-link,
  .btn-link-wrapper:hover .tooltip-link-article,
  .btn-link-wrapper:hover .tooltip-link-item,
  .item-remove-btn:hover .tooltip-link-remove {
    display: block;
  }
  .tooltip-link-item,
  .tooltip-link-article {
    width: 115px;
  }
  .tooltip-link-item {
    top: 69px;
  }
  .tooltip-link-remove {
    left: 40px;
    top: 11px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0;
  }
  .navbar {
    padding: 0 15px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-header {
    float: left;
  }
  .navbar-right {
    float: right;
    margin-right: -15px;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    color: #333;
    left: inherit;
    float: left;
    position: absolute;
    right: 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .container-body {
    margin-top: 70px;
  }
  .nav> .nav-itm {
    display: inline-block;
  }
  .nav> li> a.nav-lnk {
    padding: 15px 10px;
  }
  .search-group {
    margin-top: 0;
    padding-bottom: 0;
  }
  .search-container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 6px;
  }
  .item-itm-elem {
    padding: 5px;
  }
  .item-itm-tag {
    left: 5px;
  }
  .item-remove-btn {
    right: 16px;
    top: 5px;
  }
  .list-itm-elem {
    padding-left: 44px;
    padding-right: 62px;
  }
  .togglebutton-block {
    margin: 0;
    padding: 5px 0 4px 20px;
    float: left;
  }
  .tooltip {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {}
