$icon-font-path: '../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/';
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social';
$fa-font-path: '../bower_components/font-awesome/fonts';
@import '../bower_components/font-awesome/scss/font-awesome';


// Color variables
$primary-color: #9c27b0; //Purple 500
$secondary-color: #ba68c8; //Purple 300
$background-color: #f3e5f5; //Purple 50
$accent-color: #f50057; //Pink A400
$text-color: #000;
$text-color-inverse: #fff;
$box-shadow-color-primary: rgba(0, 0, 0, .14);
$box-shadow-color-secondary: rgba(0, 0, 0, .28);
$border-color: $box-shadow-color-primary;

// App-wide Styles

.browserupgrade {
  background: $background-color;
  color: $text-color;
  margin: .2em 0;
  padding: .2em 0;
}

body {
  background-color: $background-color;
}

a {
  color: $secondary-color;
}

.nodisplay {
  display: none;
}

.cursor {
  cursor: pointer;
}

.fixed {
  position: fixed;
}

.container-main {
  margin-top: 90px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media screen and (max-width: 1024px) {
  .tooltip {
    display: none !important;
  }
}

// Component styles are injected through grunt
/* inject:scss */
@import 'admin/admin.scss';
@import 'main/main.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
/* endinject */
