<div class="navbar navbar-inverse navbar-static-top fixed" ng-controller="NavbarController" role="navigation">
  <div class="container container-header">
    <!-- <div class="navbar-header"> -->
    <ul class="nav navbar-nav">
      <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
        <a ng-href="{{item.link}}">
          <i class="material-icons">{{item.icon}}</i> <span class="hidden-xs" translate>{{item.title}}</span>
        </a>
      </li>
      <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin</a></li>
    </ul>
    <!-- </div> -->
    <ul class="nav navbar-nav navbar-right" uib-dropdown is-open="status.isopen">
      <li>
        <a href="javascript:void(0)" class="">
          <i class="material-icons">search</i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)" class="dropdown-toggle" uib-dropdown-toggle ng-disabled="disabled">
          <i class="material-icons">more_vert</i>
        </a>
      </li>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}" role="menuitem"><a href="/signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}" role="menuitem"><a href="/login">Login</a></li>
        <li ng-show="nav.isLoggedIn()" role="menuitem">
          <p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p>
        </li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}" role="menuitem"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()" role="menuitem"><a href="/logout">Logout</a></li>
        <li class="divider"></li>
        <li><a ng-click="nav.changeLanguage('en')" ng-class="{selected: nav.language == 'en'}" href="javascript:void(0)">English</a></li>
        <li><a ng-click="nav.changeLanguage('ru')" ng-class="{selected: nav.language == 'ru'}" href="javascript:void(0)">Русский</a></li>
      </ul>
    </ul>
  </div>
</div>
