<!-- examples BEGIN //-->
<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Tooltip on left">Tooltip on left</button>
<script>
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })

</script>
<input class="form-control" id="data" type="text">
<script>
  /* use a flag - init it ones in needed */
  $('#data').bootstrapMaterialDatePicker();

</script>
<div translate>NEXT_MAIN_FOCUS</div>
<div class="list-itm-elem cursor" ng-click="editBook(book, book.index)" data-toggle="modal" data-target="#addNew">ADD NEW</div>

<div class="modal fade" id="addNew" role="dialog" data-keyboard="false">
  <div class="modal-dialog">
    <form ng-submit="saveEdits(book, 'submit')">
      <div class="modal-content modal-content-add-new">
        <div id="editSection" class="edit-content">

          <div class="modal-body">
            <div id="bookTitleDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}">
              <label class="control-label" for="bookTitle" translate>BOOK_TITLE</label>
              <input class="form-control" id="bookTitle" type="text" ng-model="book.title" ng-trim="true" ng-maxlength="128" maxlength="128" required>
              <p class="help-block" id="bookTitleHelper" translate>BOOK_NOT_EMPTY</p>
            </div>
            <div id="bookAuthorDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}">
              <label class="control-label" for="bookAuthor" ng-show="book.type=='book'" translate>BOOK_AUTHOR</label>
              <label class="control-label" for="bookAuthor" ng-show="book.type=='article'" translate>BOOK_URL</label>
              <input class="form-control" id="bookAuthor" type="text" ng-model="book.author" ng-trim="true" ng-maxlength="255" maxlength="255" required>
              <p class="help-block" translate>BOOK_NOT_EMPTY</p>
            </div>

            <div class="modal-footer">
              <div class="togglebutton togglebutton-block">
                <label>
                  <span class="btn togglebutton-btn hidden-xs" ng-class="{'btn-primary': book.type!='book'}" translate>BOOK_BOOK</span>
                  <input ng-model="book.type" type="checkbox" ng-true-value="'article'" ng-false-value="'book'">
                  <span id="bookToggler" class="toggle"></span>
                  <span class="btn togglebutton-btn hidden-xs" ng-class="{'btn-primary': book.type!='article'}" translate>BOOK_ARTICLE</span>
                </label>
              </div>
              <button type="button" class="btn btn-default" ng-click="openQuoteSection()">
                <span class="visible-xs-inline-block"><i class="material-icons">speaker_notes</i></span>
                <span class="hidden-xs" translate>BOOK_QUOTE</span>
              </button>
              <a type="button" class="btn btn-default" ng-click="revertBook(book.index)" data-dismiss="modal" translate>BOOK_CLOSE</a>
              <a type="button" class="btn btn-primary" ng-click="saveEdits(book, book.index)" translate>BOOK_SAVE_CHANGES</a>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
    </form>
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</div>
<span class="btn btn-default btn-fab" ng-click="removeBookDialog(book.index)" data-toggle="modal" data-target="#confirmRemove"><i class="material-icons">close</i></span>
<div class="modal fade" id="confirmRemove" role="dialog" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form ng-submit="removeBook(book.index)">
          <p class="" id="confirmTitle" translate>CONFIRM_QUESTION</p>
        </form>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-default" data-dismiss="modal" translate>BOOK_CLOSE</a>
        <a type="button" class="btn btn-primary" ng-click="removeBook(index)" translate>BOOK_REMOVE</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown trigger
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
</div>
<br>
<br>
<hr>
<!-- examples END //-->

<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">nextmainfocus</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ng-class="{active: nav.isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ng-class="{active: nav.isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ng-class="{active: nav.isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="nav.isLoggedIn()">
          <p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p>
        </li>
        <li ng-show="nav.isLoggedIn()" ng-class="{active: nav.isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
