body {
  & .container {
    & .list-group {
      padding: 19px 0;
    }
  }
}

.container-main {
  margin-top: 90px;
}

.list-itm {
  border-bottom: 1px solid $border-color;
  list-style: none;
  position: relative;

  &:last-child {
    border-bottom: 0;
  }
}

.list-itm-elem {
  min-height: 40px;
  padding: 12px 85px 12px 71px;
}

.list-itm-tag {
  cursor: move;
  left: 24px;
  position: absolute;
  top: 14px;
}

.list-remove-btn {
  position: absolute;
  right: 5%;
  top: 6px;
}

.thing-form {
  margin: 20px 0;
}

.btn-group-sm > .btn {
  border-radius: 50%;
  box-shadow: 0 1px 1.5px 0 $box-shadow-color-primary, 0 1px 1px 0 $box-shadow-color-secondary;
  font-size: 12px;
  padding: 5px 20px;
}
