<div class="container">
  <div class="row">
    <ul class="well lead list-group">
      <li class="list-itm" ng-repeat="item in $ctrl.Items">
        <div class="list-itm-tag">
          <i class="material-icons">reorder</i>
        </div>
        <div class="list-itm-elem cursor">
          {{item.acronym}}:{{item.title}}
        </div>
        <div class="btn-group-sm list-remove-btn cursor" uib-tooltip="{{'REMOVE' | translate}}" tooltip-placement="right">
          <span class=" btn btn-default btn-fab " ng-click="$ctrl.deleteThing(item) " data-toggle="modal" data-target="#confirmRemove">
            <i class="material-icons">close</i>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>

<form class="thing-form ">
  <label>Syncs in realtime across clients</label>
  <p class="input-group ">
    <input type="text " class="form-control " placeholder="Add a new thing here. " id="newThing" ng-model="$ctrl.newThing ">
    <span class="input-group-btn ">
        <button type="submit " class="btn btn-primary " ng-click="$ctrl.addThing() ">Add New</button>
      </span>
  </p>
</form>
</div>
