.content {
	text-align: justify;
}
.footer {
	margin-top: 45px;
	padding: 0 0 36px;
	border-top: 1px solid #e5e5e5;
}
.nodisplay {
	display: none;
}
.cursor {
	cursor: pointer;
}
.tasks-group {
	padding: 10px 0;
	border-top: 1px dotted #e5e5e5;
}

.project-form {
	padding: 0 0 10px;
	margin: 0 0 10px;
	border-bottom: 1px dotted #e5e5e5;
}
.project-list {
	margin: 0;
	padding: 0;
}
.project-itm {
	list-style: none;
}
.project-itm-checkbox {
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
input[type="checkbox"]:focus {
	outline: none;
}
.project-itm-checkbox:after {
	content: '✔';
	color: #d9d9d9;
}
.done .project-itm-checkbox:after {
	content: '✔';
	color: #666;
}
.done .project-itm-name {
	text-decoration: line-through;
}
.done .glyphicon-pencil {
	display: none;
}

.edit {
	display: none;
}
.editing .edit {
	display: block;
}
.editing .project-itm-view {
	display: none;
}

@media (min-width: 768px) and (max-width: 992px) {
	
}
@media (max-width: 768px) {
	
}