<ul class="well" ng-if="filters == 'focus' || filters == ''">
  <p class="list-itm-elem" ng-show="!filteredItems.length" translate>ITEMS_EMPTY</p>
  <li class="item-group" ng-repeat="item in filteredItems | filter: global.search">
    <div class="item-itm-view lead">
      <div class="list-itm-elem cursor" ng-click="editItem(item, item.index)" data-toggle="modal" data-target="#addNew">
        <span class="item-title">
          <span class="item-author" ng-show="item.type=='task'">{{item.acronym}}:</span>
          {{item.title}}
          <span class="item-author" ng-show="item.type=='project'">({{item.acronym}})</span>
        </span>
        <sapn class="text-muted" ng-if="item.date">{{item.date | asDate | date: 'dd.MM.yyyy'}}</span>
          <p class="item-author item-author-lnk" ng-show="item.type=='task'">{{item.details}}</p>
      </div>
      <div class="btn-group-sm item-remove-btn cursor">
        <span class="btn btn-default btn-fab" ng-click="removeItemDialog(item.index)" data-toggle="modal" data-target="#confirmRemove"><i class="material-icons">close</i></span>
        <div class="tooltip right tooltip-link tooltip-link-remove" role="tooltip">
          <div class="tooltip-inner">Remove</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="well" ng-if="filters && filters != 'focus' && !filteredItems.length">
  <p class="list-itm-elem" ng-show="!filteredItems.length" translate>ITEMS_EMPTY</p>
</ul>
<ul class="well" ng-sortable="sortableItemList" ng-if="filters && filters != 'focus' && filteredItems.length">
  <li class="item-group" ng-repeat="item in filteredItems">
    <div class="item-itm-view lead">
      <div class="item-itm-tag"><i class="material-icons">reorder</i></div>
      <div class="list-itm-elem cursor" ng-click="editItem(item, item.index)" data-toggle="modal" data-target="#addNew">
        <span class="item-title">
          <span class="item-author" ng-show="item.type=='task'">{{item.acronym}}:</span>
          {{item.title}}
          <span class="item-author" ng-show="item.type=='project'">({{item.acronym}})</span>
        </span>
        <span class="text-muted" ng-if="item.date">{{item.date | asDate | date: 'dd.MM.yyyy'}}</span>
        <p class="item-author item-author-lnk" ng-show="item.type=='task'">{{item.details}}</p>
      </div>
      <div class="btn-group-sm item-remove-btn cursor">
        <span class="btn btn-default btn-fab" ng-click="removeItemDialog(item.index)" data-toggle="modal" data-target="#confirmRemove"><i class="material-icons">close</i></span>
        <div class="tooltip right tooltip-link tooltip-link-remove" role="tooltip">
          <div class="tooltip-inner">Remove</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="add-btn-wrapper">
  <div id="addBtn" class="add-btn">
    <span class="btn btn-danger btn-fab btn-link" ng-click="newItem()" data-toggle="modal" data-target="#addNew">
      <span class="add-btn-i"><i class="material-icons">add circle</i></span>
    </span>
    <div class="tooltip left tooltip-link" role="tooltip">
      <div class="tooltip-inner">Add new</div>
    </div>
  </div>
  <div class="btn-group-sm hidden-sm hidden-xs">
    <div class="btn-link-wrapper">
      <span class="btn btn-success btn-fab btn-link-item" ng-click="newItem(true)" data-toggle="modal" data-target="#addNew">
        <span class="add-btn-mini"><i class="material-icons">create_new_folder</i></span>
      </span>
      <div class="tooltip left tooltip-link tooltip-link-item" role="tooltip">
        <div class="tooltip-inner">Add new project</div>
      </div>
    </div>
    <div class="btn-link-wrapper">
      <span class="btn btn-info btn-fab btn-link-article" ng-click="newItem()" data-toggle="modal" data-target="#addNew">
        <span class="add-btn-mini"><i class="material-icons">description</i></span>
      </span>
      <div class="tooltip left tooltip-link tooltip-link-article" role="tooltip">
        <div class="tooltip-inner">Add new task</div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addNew" role="dialog" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form ng-submit="saveEdits(item, 'submit')">
          <div id="itemTitleDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}">
            <label class="control-label" for="itemTitle" translate>ITEM_TITLE</label>
            <input class="form-control" id="itemTitle" type="text" ng-model="item.title" ng-trim="true" ng-maxlength="128" maxlength="128" required>
            <p class="help-block" id="itemTitleHelper" translate>ITEM_NOT_EMPTY</p>
          </div>
          <div id="itemAcronymDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}" ng-show="item.type=='project'">
            <label class="control-label" for="itemAcronym" translate>ITEM_ACRONYM</label>
            <input class="form-control" id="itemAcronym" type="text" ng-model="item.acronym" ng-trim="true" ng-maxlength="128" maxlength="128" required>
            <p class="help-block" translate>ITEM_NOT_EMPTY</p>
          </div>
          <div id="itemParentIdDiv" class="form-group label-floating" ng-show="item.type=='task'">
            <label class="control-label" for="itemParentId" translate>ITEM_PARENTID</label>
            <select id="itemParentId" class="form-control" ng-model="item.parentID" ng-trim="true">
              <option ng-select="item.parentID==option.index" ng-repeat="option in projectItems" value="{{option.index}}">{{option.title}}</option>
              <script>


              </script>
            </select>
          </div>
          <div id="itemDateDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}">
            <label class="control-label" for="itemDate" translate>ITEM_DATE</label>
            <input class="form-control" id="itemDate" type="text" ng-model="item.date" ng-trim="true">
            <i class="material-icons cursor item-date-btn" ng-click="clearDateInp()">close</i>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="togglebutton togglebutton-block">
          <label>
            <span class="btn togglebutton-btn hidden-xs" ng-class="{'btn-primary': item.type!='project'}">Project</span>
            <input ng-model="item.type" type="checkbox" ng-true-value="'task'" ng-false-value="'project'">
            <span id="itemToggler" class="toggle"></span>
            <span class="btn togglebutton-btn hidden-xs" ng-class="{'btn-primary': item.type!='task'}">Task</span>
          </label>
        </div>
        <button type="button" class="btn btn-default" ng-click="revertItem(item.index)" data-dismiss="modal" translate>ITEM_CLOSE</button>
        <button type="button" class="btn btn-primary" ng-click="saveEdits(item, item.index)" translate>ITEM_SAVE_CHANGES</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="confirmRemove" role="dialog" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form ng-submit="removeItem(item.index)">
          <p class="" id="confirmTitle" translate>CONFIRM_QUESTION</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" translate>ITEM_CLOSE</button>
        <button type="button" class="btn btn-primary" ng-click="removeItem(index)" translate>ITEM_REMOVE</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
