<ul class="well" ng-if="filters == 'focus'">
  <p class="list-itm-elem" ng-show="!filteredItems.length" translate>ITEMS_EMPTY</p>
  <li class="item-group" ng-repeat="item in filteredItems | filter: global.search">
    <div class="item-itm-view lead">
      <div class="list-itm-elem cursor" ng-click="editItem(item, item.index)" data-toggle="modal" data-target="#addNew">
        <span class="item-title">
          <span class="item-author" ng-show="item.type=='task'">{{item.acronym}}:</span>
          {{item.title}}
          <span class="item-author" ng-show="item.type=='project'">({{item.acronym}})</span>
        </span>
        <p class="text-muted" ng-if="item.date">{{item.date | asDate | date: 'dd.MM.yyyy'}}</p>
        <p class="text-muted" ng-if="!item.date" translate>DATE_UNDEFINED</p>
        <p class="item-author item-author-lnk" ng-show="item.type=='task'">{{item.details}}</p>
      </div>
      <div class="btn-group-sm item-remove-btn cursor">
        <span class="btn btn-default btn-fab" ng-click="removeItemDialog(item.index)" data-toggle="modal" data-target="#confirmRemove"><i class="material-icons">close</i></span>
        <div class="tooltip right tooltip-link tooltip-link-remove" role="tooltip">
          <div class="tooltip-inner">Remove</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="well" ng-if="filters != 'focus' && !filteredItems.length">
  <p class="list-itm-elem" ng-show="!filteredItems.length" translate>ITEMS_EMPTY</p>
</ul>
<ul class="well" ng-sortable="sortableItemList" ng-if="filters != 'focus' && filteredItems.length">
  <li class="item-group" ng-repeat="item in filteredItems">
    <div class="item-itm-view lead">
      <div class="item-itm-tag"><i class="material-icons">reorder</i></div>
      <div class="list-itm-elem cursor" ng-click="editItem(item, item.index)" data-toggle="modal" data-target="#addNew">
        <span class="item-title">
          <span class="item-author" ng-show="item.type=='task'">{{item.acronym}}:</span>
          {{item.title}}
          <span class="item-author" ng-show="item.type=='project'">({{item.acronym}})</span>
        </span>
        <p class="text-muted" ng-if="item.date">{{item.date | asDate | date: 'dd.MM.yyyy'}}</p>
        <p class="text-muted" ng-if="!item.date" translate>DATE_UNDEFINED</p>
        <p class="item-author item-author-lnk" ng-show="item.type=='task'">{{item.details}}</p>
      </div>
      <div class="btn-group-sm item-remove-btn cursor">
        <span class="btn btn-default btn-fab" ng-click="removeItemDialog(item.index)" data-toggle="modal" data-target="#confirmRemove"><i class="material-icons">close</i></span>
        <div class="tooltip right tooltip-link tooltip-link-remove" role="tooltip">
          <div class="tooltip-inner">Remove</div>
        </div>
      </div>
    </div>
  </li>
</ul>
<div class="add-btn-wrapper">
  <div id="addBtn" class="add-btn">
    <span class="btn btn-danger btn-fab btn-link" ng-click="newItem()" data-toggle="modal" data-target="#addNew">
      <span class="add-btn-i"><i class="material-icons">add circle</i></span>
    </span>
    <div class="tooltip left tooltip-link" role="tooltip">
      <div class="tooltip-inner">Add new</div>
    </div>
  </div>
  <div class="btn-group-sm hidden-sm hidden-xs">
    <div class="btn-link-wrapper">
      <span class="btn btn-success btn-fab btn-link-item" ng-click="newItem()" data-toggle="modal" data-target="#addNew">
        <span class="add-btn-mini"><i class="material-icons">create_new_folder</i></span>
      </span>
      <div class="tooltip left tooltip-link tooltip-link-item" role="tooltip">
        <div class="tooltip-inner">Add new item</div>
      </div>
    </div>
    <div class="btn-link-wrapper">
      <span class="btn btn-info btn-fab btn-link-article" ng-click="newItem(true)" data-toggle="modal" data-target="#addNew">
        <span class="add-btn-mini"><i class="material-icons">description</i></span>
      </span>
      <div class="tooltip left tooltip-link tooltip-link-article" role="tooltip">
        <div class="tooltip-inner">Add new article</div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addNew" role="dialog" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form ng-submit="saveEdits(item, 'submit')">
          <div id="itemTitleDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}">
            <label class="control-label" for="itemTitle" translate>ITEM_TITLE</label>
            <input class="form-control" id="itemTitle" type="text" ng-model="item.title" ng-trim="true" ng-maxlength="128" maxlength="128" required>
            <p class="help-block" id="itemTitleHelper" translate>ITEM_NOT_EMPTY</p>
          </div>
          <div id="itemAuthorDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}">
            <label class="control-label" for="itemAuthor" ng-show="item.type=='item'" translate>ITEM_AUTHOR</label>
            <label class="control-label" for="itemAuthor" ng-show="item.type=='article'" translate>ITEM_URL</label>
            <input class="form-control" id="itemAuthor" type="text" ng-model="item.author" ng-trim="true" ng-maxlength="255" maxlength="255" required>
            <p class="help-block" translate>ITEM_NOT_EMPTY</p>
          </div>
          <div id="itemTagDiv" class="form-group label-floating">
            <label class="control-label" for="itemTag" translate>ITEM_TAG</label>
            <select id="itemTag" class="form-control" ng-model="item.tag" ng-trim="true">
              <option value="" selected></option>
              <option value="fiction" translate>TAG_FICTION</option>
              <option value="education" translate>TAG_EDUCATION</option>
              <option value="entertainment" translate>TAG_ENTERTAINMENT</option>
            </select>
          </div>
          <div id="itemMarkDiv" class="form-group label-floating">
            <label class="control-label" for="itemMark" translate>ITEM_MARK</label>
            <select id="itemMark" class="form-control" ng-model="item.mark" ng-trim="true" required>
              <option value="0" selected translate>ITEM_READING_NOW</option>
              <option value="1" translate>ITEM_1_STAR</option>
              <option value="2" translate>ITEM_2_STARS</option>
              <option value="3" translate>ITEM_3_STARS</option>
              <option value="4" translate>ITEM_FAVORITE</option>
              <option value="5" translate>ITEM_WANT_TO_READ</option>
              <option value="6" translate>ITEM_DONT_WANT_TO_READ</option>
            </select>
            <p class="help-block" translate>ITEM_NOT_EMPTY</p>
          </div>
          <div id="itemDateDiv" class="form-group label-floating" ng-class="{'is-empty': isEmpty}">
            <label class="control-label" for="itemDate" translate>ITEM_DATE</label>
            <input class="form-control" id="itemDate" type="text" ng-model="item.date" ng-trim="true">
            <i class="material-icons cursor item-date-btn" ng-click="clearDateInp()">close</i>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="togglebutton togglebutton-block">
          <label>
            <span class="btn togglebutton-btn hidden-xs" ng-class="{'btn-primary': item.type!='item'}">Item</span>
            <input ng-model="item.type" type="checkbox" ng-true-value="'article'" ng-false-value="'item'">
            <span id="itemToggler" class="toggle"></span>
            <span class="btn togglebutton-btn hidden-xs" ng-class="{'btn-primary': item.type!='article'}">Article</span>
          </label>
        </div>
        <button type="button" class="btn btn-default" ng-click="revertItem(item.index)" data-dismiss="modal" translate>ITEM_CLOSE</button>
        <button type="button" class="btn btn-primary" ng-click="saveEdits(item, item.index)" translate>ITEM_SAVE_CHANGES</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="confirmRemove" role="dialog" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form ng-submit="removeItem(item.index)">
          <p class="" id="confirmTitle" translate>CONFIRM_QUESTION</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" translate>ITEM_CLOSE</button>
        <button type="button" class="btn btn-primary" ng-click="removeItem(index)" translate>ITEM_REMOVE</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
