<ul class="well">
  <p class="list-itm-elem" ng-show="!filteredBooks.length" translate>BOOKS_UNDEFINED</p>
  <li class="book-group list-itm-elem" ng-repeat="year in stats | object2Array | orderBy : title : true">
    <div class="book-itm-view lead">
      <span class="book-title">{{year.title}} - </span>
      <span class="book-author">{{year.books.length}}</span>
    </div>

    <ul>
      <li class="month-group" ng-repeat="month in year.months | object2Array | orderBy : title : true">
        <div class="book-itm-view lead">
          <span class="" translate>{{month.title}}</span>
          <span class=""> - {{month.books.length}}</span>
        </div>
      </li>
    </ul>
  </li>
</ul>
